In [6]:
%load_ext autoreload
%autoreload 2
import core
import pandas as pd
from datetime import datetime
import numpy as np
import pagri_data_tools
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/college.csv")

In [2]:
from core import SmartDataFrame
import pandas as pd

# Create a sample DataFrame with duplicates
data = {
    'id': [1, 2, 3, 4, 5, 1, 3],
    'name': ['John', 'Alice', 'Bob', 'Charlie', 'David', 'john', 'Bob'],
    'email': ['a@test.com', 'b@test.com', 'c@test.com', 'd@test.com', 'e@test.com', 'a@test.com', 'c@test.com']
}
df = pd.DataFrame(data)
df

   id     name       email
0   1     John  a@test.com
1   2    Alice  b@test.com
2   3      Bob  c@test.com
3   4  Charlie  d@test.com
4   5    David  e@test.com
5   1     john  a@test.com
6   3      Bob  c@test.com

In [3]:
sdf = SmartDataFrame(df)
sdf

In [ ]:
sdf.anomalies.check_duplicated_rows(return_df=False)

'Found 1 duplicated rows (14.3% of total)'

In [ ]:

# Check for duplicate rows
print(sdf.duplicates.check_duplicated_rows(return_df=False))
# Output: Found 2 duplicated rows (28.6% of total)

duplicate_rows = sdf.duplicates.check_duplicated_rows()
print(duplicate_rows)
"""
Duplicated is 2 (28.6%) rows
               count
id name email       
1  john a@test.com 2
3  Bob  c@test.com 2
"""

# Find duplicates in individual columns
column_dups = sdf.duplicates.find_columns_with_duplicates()
"""
Column Duplicates Summary
id        2 (28.57%)
name      1 (14.29%)
email     2 (28.57%)
"""

# Access duplicates for a specific column
print(column_dups['email'])
"""
   id   name       email
0   1   John  a@test.com
5   1   john  a@test.com
2   3    Bob  c@test.com
6   3    Bob  c@test.com
"""

In [64]:

# Создаем экземпляр анализатора
analyzer = pgdt.DataAnalyzer(test_df)

In [14]:
test_df.nunique()

numeric_int               100
numeric_int_na            100
numeric_float            1000
numeric_with_outliers    1000
numeric_with_nulls        900
categorical                 4
text                        4
dates                    1000
dates_with_outliers      1000
dtype: int64

In [18]:
analyzer._generate_dataframe_overview()

In [24]:
df.columns

Index(['Name', 'PredominantDegree', 'HighestDegree', 'FundingModel', 'Region',
       'Geography', 'AdmissionRate', 'ACTMedian', 'SATAverage', 'AverageCost',
       'Expenditure', 'AverageFacultySalary', 'MedianDebt',
       'AverageAgeofEntry', 'MedianFamilyIncome', 'MedianEarnings'],
      dtype='object')

In [ ]:
analyzer._generate_wordcloud(df['Name'])

In [ ]:
analyzer.generate_combined_charts(df['Name'])

In [ ]:
analyzer._generate_bar_chart(df['Region'])

In [ ]:
pagri_data_tools.sentiment_analysis(test_df, 'categorical')

In [ ]:
fig, tt = analyzer.analyze_sentiment('categorical')
display(tt)
fig

In [18]:
analyzer._generate_summary_for_categorical(df['Region'])

In [10]:
analyzer._generate_value_counts_for_categorical(df['Region'])

           Value Distribution
0      Southeast: 360 (27.8%)
1   Mid-Atlantic: 227 (17.5%)
2    Great Lakes: 215 (16.6%)
3   Great Plains: 149 (11.5%)
4        Far West: 117 (9.0%)
5      New England: 97 (7.5%)
6        Southwest: 94 (7.3%)
7  Rocky Mountains: 35 (2.7%)

In [66]:
# Создаем данные

data = {

    ('A', 'one'): [1, 2, 3],

    ('A', 'two'): [4, 5, 6],

    ('B', 'one'): [7, 8, 9],

    ('B', 'two'): [10, 11, 12]

}

df = pd.DataFrame(data)


# Выводим DataFrame

df

    A       B
  one two one two
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12

In [71]:
df = pd.DataFrame(data)
df.insert(2, 'a', " " * 10) 
df.insert(5, 'aa', " " * 10) 
df

    A               a   B              aa
  one two             one two
0   1   4               7  10
1   2   5               8  11
2   3   6               9  12

In [ ]:
analyzer._generate_summary_for_numeric(test_df.dates)

In [ ]:
# Тестируем анализ разных типов колонок
print("=== Тестирование числовой колонки ===")
numeric_report = analyzer.analyze_column('numeric_float', hist_mode='dual')
display(HTML(numeric_report))

In [ ]:

print("\n=== Тестирование категориальной колонки ===")
categorical_report = analyzer.analyze_column('categorical')
display(HTML(categorical_report))

In [ ]:

print("\n=== Тестирование колонки с датами ===")
date_report = analyzer.analyze_column('dates')
display(HTML(date_report))

In [ ]:

print("\n=== Тестирование колонки с выбросами ===")
outliers_report = analyzer.analyze_column('numeric_with_outliers', hist_mode='dual')
display(HTML(outliers_report))

In [ ]:

print("\n=== Тестирование колонки с пропусками ===")
nulls_report = analyzer.analyze_column('numeric_with_nulls')
display(HTML(nulls_report))

In [ ]:

print("\n=== Тестирование текстовой колонки ===")
text_report = analyzer.analyze_column('text')
display(HTML(text_report))

In [ ]:

print("\n=== Тестирование обработки ошибок ===")
try:
    invalid_report = analyzer.analyze_column('nonexistent_column')
except ValueError as e:
    print(f"Ожидаемая ошибка: {e}")

In [ ]:

try:
    invalid_mode_report = analyzer.analyze_column('numeric_float', hist_mode='invalid_mode')
except ValueError as e:
    print(f"Ожидаемая ошибка: {e}")